<div id="myinfo" class="container">	
	<div ng-if="myinfoCtrl.user.success">
		<span> First name : {{myinfoCtrl.user.firstname}}
		</span>
		<br>
		<span> Last name : {{myinfoCtrl.user.lastname}}
		</span>
		<br>
		<span> Email : {{myinfoCtrl.user.email}}
		</span>
		<br>
		<span> Phone : {{myinfoCtrl.user.phone}}
		</span>
		<br>
		<span> Favorite Menu Item :
		</span>
		<br>
		<single-menu-item menu-item="myinfoCtrl.user.menuItem">
  		</single-menu-item>
	</div>
	<div ng-if="!myinfoCtrl.user.success">
		<p>
			Not Signed Up Yet.
		 	<a ui-sref="public.signup">
		 		Sign up Now!
  			</a>
  		</p>
	</div>
</div>